@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    color: black;

    /*    make sure you set family and size on body*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Typohrapgy */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
    margin: 10px 0 20px 0;
}

h1 {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #383838;
    letter-spacing: 5px;
}

h2 {
    text-transform: uppercase;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 4px solid black;
    letter-spacing: 2px;
}

p {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
}

/* anchor styles*/

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: grey;
}

a:active {
    color: yellow;
}

.wrapper {
    width: 980px;
    /*    TOP RIGHT BOTTOM LEFT*/
    margin: 20px auto 0px auto;
}

header {
    padding: 20px;
    height: 200px;
}

nav {
    text-align: center;
}

nav ul {}

nav ul li {
    display: inline;
    margin-right: 100px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li a:hover {
    text-decoration: none;
    text-decoration: line-through;


}

/* Main Container */

main {
    padding: 20px;
    overflow: auto;
}

footer {
    text-align: center;
    color: black;
    padding: 20px 0;
}
