@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    color: black;

    /*    make sure you set family and size on body*/
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6em;
}

/* Typohrapgy */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
    margin-bottom: 0.625em;
}

h1 {
    padding-bottom: 1.0em;
    margin-bottom: 0em;
    text-align: center;
    font-size: 1.0em;
    letter-spacing: 0.04em;
}

h2 {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 4px solid black;
    letter-spacing: 2px;
}

p {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 20px;
}

/* anchor styles*/

a {
    text-decoration: none;
    color: #6C6A61;
}

a:hover {
    font-weight: bolder;
}

a:visited {
    color: #6C6A61;
}

a:active {
    color: black;
}

.wrapper {
    width: 980px;
    /*    TOP RIGHT BOTTOM LEFT*/
    margin: 1.250em auto 0px auto;
}

header {}

.index {
    padding: 0em;
    background-color: aquamarine;
    height: 29em;
}

nav {
    text-align: center;
}

nav ul {
    font-size: 0.750em
}

nav ul li {
    display: inline;
    padding: 0em 2.4em;
}

nav ul li a {
    text-decoration: none;
    padding: 0.6250em 0.20em;
    letter-spacing: 0.125em;
}

nav ul li a:hover {
    text-decoration: line-through;
    font-weight: bold;
}

/* Main Container */

main {
    padding: 1.250em;
    overflow: auto;
}

footer {
    text-align: center;
    color: black;
    padding: 20px 0;
}
